/*Mobile*/
@media (max-width: 740px) {
    #content{
        width: 80%;
    }
    #nav{
        display: none;
    }
    .he-logo{
        display: none;
    }


    .nav-bar-btn{
        display: block;
    }
    #nav-mobile .sub_nav{
        position: initial;
        background-color: #565e64;
    }
    #nav-mobile li:hover a{
        color: white;
    }
    #nav-mobile li a{
        padding: 1px 24px
    }
    #nav-mobile .sub_nav a{
        padding: 5px 48px;
    }
    .col-third{
        width: 100%;
        margin-top: 30px;
    }
    #contact .col-half{
        width: 100%;
    }
    #contact .col{
        padding-bottom: 10px;
    }
    #contact .col input:last-child{
        margin-top: -0.8px;
    }
    .s-mt-8{
        margin-top: 8px !important;
    }

    .heading-search input{
        margin-left: -150px;
        padding: 2%;
        width: 150px;
        height: 30px;
        border-radius: 5px;

    }

    #contact .text-description-contact p{
        margin-bottom: 10px;
    }
    #footer p{
        padding: 20px;

    }

}
/*tablet*/
@media (min-width: 740px) and (max-width: 1023px) {
    #content{
        width: 70%;
    }
    .nav-bar-btn{
        display: none;
    }
    #nav>li{
        display: inline-block;
    }
    #header{
        overflow: visible;
    }
    .nav__mobile{
        display: none;
    }

    .heading-search input{
        margin-left: -110px;
        padding: 2%;
        width: 150px;
        height: 30px;
        border-radius: 5px;

    }
    .list-btn-social i{
        font-size: 22px;
        padding: 15px;
    }
    .list-btn-social img{
        padding-left: 30px;
        width: 30px;
        height: 15px;

    }
    #footer p{
        padding: 20px;

    }


}

/*PC*/
@media (min-width: 1024px) {
    #nav>li{
        display: inline-block;
    }
    #header{
        overflow: visible;
    }
    .nav-bar-btn{
        display: none;
    }
    .nav__mobile{
        display: none;
    }
    .list-btn-social i{
        font-size: 22px;
        padding: 15px;
    }

}
/*PC mini*/
@media (max-width: 1315px)  {
    html{margin: 0}
    .container{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .container .col-half{
        width: 100%;
    }
    .container .music-disc-list{
        width: 100%;
    }

    .container .col-third{
        width: 100%;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
    }
    .container #contact .col-half{
        width: 100%;
    }
    .container #contact .col{
        padding-bottom: 10px;
    }
    .container #contact .col input:last-child{
        margin-top: -0.8px;
    }
    .container .s-mt-8{
        margin-top: 8px !important;
    }
    .list-btn-social i{
        font-size: 22px;
        padding: 15px;
    }

}